$primary: #e56e00;
$danger: #000639;
$warning: #f19100;
$delete: #ce0303;

$theme-colors: (
  'primary': $primary,
  'danger': $danger,
  'warning': $warning,
  'delete': $delete,
);

.overlay-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import 'bootstrap/scss/bootstrap';
